.section{
  min-height: 100vh;
  background-color:#272833;
}

.section-pad{
  padding-left: 5vw;
  padding-right: 5vw;
}

div{
  display:block;
}

.marquee{
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  font-size: 5vw;
  line-height:1;
}
.marquee span{
  white-space: nowrap;
  display: block;
  mix-blend-mode: difference;
  animation: moveLeft 100s infinite;
}


@keyframes moveLeft{
  0%{
    transform：translateX(0);
  }
  
  100%{
    transform: translateX(-3000vh);
  }
}
