
.marquee img {
  width:1408px;
  height:176px;
}

.marquee{
  width:100%;
  overflow:hidden;
}


body{
  background-color:#1A2030;
}

.bg-cover{
  background-image: url(background.png);
  background-size: auto 100%;
  background-position: 60% 75%;
  background-repeat: no-repeat;
}

.portrait img{
  display:block;
  width:30%;
  text-align: center;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}


.intro{
  font-family: 'Montserrat', sans-serif;
  font-size:50px;
  color:#fff;
  text-align:center;
  line-height:20px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  50%{
    transform: translate(0);
  }
  100%{
    opacity: 1;
  }
}

.appear{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 1s;
  /* make sure the end state stay*/
  animation-fill-mode: forwards;
}


/* .section{
  min-height: 100vh;
  display: flex;
}

.section-pad{
  padding-left: 5vw;
  padding-right: 5vw;
}

div{
  display:block;
} */
